#alert {
  animation: moveRight 3s linear 1s;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(200px);
    opacity: 0;
  }
}
